* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto";
	background-image: url("./backgrounds/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.rain {
	background-image: url("./backgrounds/rain.jpg");
}

.sunny {
	background-image: url("./backgrounds/sunny.jpg");
}

.clouds {
	background-image: url("./backgrounds/clouds.jpg");
}

.clear {
	background-image: url("./backgrounds/clear.jpg");
}

.app-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0.6)
	);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 15px 15px;
}

header input {
	width: 60%;
	min-width: 280px;
	padding: 10px 15px;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 16px 0 16px 0;
	border-bottom: 3px solid #df8e00;
	color: white;
	font-size: 20px;
	font-weight: 300;
	transition: all 0.2s ease-out;
}

header input::placeholder {
	color: white;
}

header input:focus {
	background-color: rgba(255, 255, 255, 0.6);
}

main {
	flex: 1 1 100%;
	padding: 25px 25px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.location .city {
	color: white;
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 5px;
}

.location .date {
	color: white;
	font-size: 16px;
}

.current .temp {
	color: white;
	font-size: 102px;
	font-weight: 900;
	margin: 30px 0;
	text-shadow: 2px 8px rgba(0, 0, 0, 0.5);
}

.current .temp span {
	font-weight: 500;
}

.current .weather {
	color: white;
	font-size: 32px;
	font-weight: 700;
	font-style: italic;
	margin-bottom: 15px;
	text-shadow: 0px 3px rgba(0, 0, 0, 0.3);
}

.current .hi-low {
	color: white;
	font-size: 24px;
	font-weight: 500;
	text-shadow: 0px 3px rgba(0, 0, 0, 0.3);
}
